In [ ]:
# Импорт необходимых библиотек
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
df = pd.read_csv('buh_data.csv', sep=',')
df.head()

   ll_month  l_month   month  n_month
0    3000.0   3200.0  1300.0   1500.0
1    2200.0   7600.0  2800.0   3100.0
2     500.0   9400.0  5600.0   6000.0
3   12000.0   2800.0   700.0    800.0
4    4500.0    900.0  9400.0   8900.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ll_month  10 non-null     float64
 1   l_month   10 non-null     float64
 2   month     10 non-null     float64
 3   n_month   10 non-null     float64
dtypes: float64(4)
memory usage: 448.0 bytes

In [ ]:
df.describe()

           ll_month      l_month         month       n_month
count     10.000000    10.000000     10.000000     10.000000
mean    3880.000000  5134.000000   7176.000000   6900.000000
std     3686.778178  3116.990001   8108.759598   7486.283754
min      500.000000   640.000000    600.000000    500.000000
25%      987.500000  2900.000000    850.000000    975.000000
50%     2600.000000  5690.000000   4200.000000   4550.000000
75%     6150.000000  7380.000000   9670.000000   9875.000000
max    12000.000000  9400.000000  25000.000000  23500.000000

In [ ]:
df.columns

Index(['ll_month', 'l_month', 'month', 'n_month'], dtype='object')

In [ ]:
# Сформируем признаки и целевой столбец для предсказания его значений
X = df[['ll_month', 'l_month', 'month']]
y = df['n_month']

In [ ]:
X

   ll_month  l_month    month
0    3000.0   3200.0   1300.0
1    2200.0   7600.0   2800.0
2     500.0   9400.0   5600.0
3   12000.0   2800.0    700.0
4    4500.0    900.0   9400.0
5    6800.0    640.0  25000.0
6    1400.0   8700.0  16000.0
7    6700.0   6720.0   9760.0
8     850.0   5690.0    600.0
9     850.0   5690.0    600.0

In [ ]:
y

0     1500.0
1     3100.0
2     6000.0
3      800.0
4     8900.0
5    23500.0
6    14000.0
7    10200.0
8      500.0
9      500.0
Name: n_month, dtype: float64

In [ ]:
# Разделим данные на тест и трейн 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.coef_

array([-0.00890229, -0.03003831,  0.91023204])

In [ ]:
lr.predict(X_test)

array([ 850.07185492, 9104.77953465])

In [ ]:
pd.DataFrame([y_test.values, lr.predict(X_test)])

            0             1
0  500.000000  10200.000000
1  850.071855   9104.779535

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

661029.0856598143

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

182444.051196313

In [ ]:
# Разброс в значениях привел к тому, что предсказание совсем плохое ... 
# Т.е. у модели не получилось качественно обучиться т.к. разница между тратами в строках слишком огромное и данных для обучения очень мало.