# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df
df = pd.read_csv('insurance.csv', sep=',')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

   age  sex     bmi  ...  region_northwest  region_southeast  region_southwest
0   19    0  27.900  ...                 0                 0                 1
1   18    1  33.770  ...                 0                 1                 0
2   28    1  33.000  ...                 0                 1                 0
3   33    1  22.705  ...                 1                 0                 0
4   32    1  28.880  ...                 1                 0                 0

[5 rows x 10 columns]

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X = df[['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest']]
y = df['charges']

In [ ]:
X

      age  sex     bmi  ...  region_northwest  region_southeast  region_southwest
0      19    0  27.900  ...                 0                 0                 1
1      18    1  33.770  ...                 0                 1                 0
2      28    1  33.000  ...                 0                 1                 0
3      33    1  22.705  ...                 1                 0                 0
4      32    1  28.880  ...                 1                 0                 0
...   ...  ...     ...  ...               ...               ...               ...
1333   50    1  30.970  ...                 1                 0                 0
1334   18    0  31.920  ...                 0                 0                 0
1335   18    0  36.850  ...                 0                 1                 0
1336   21    0  25.800  ...                 0                 0                 1
1337   61    0  29.070  ...                 1                 0                 0

[1338 rows x 9 columns]

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.coef_

array([  259.68185028,  -108.92609906,   346.24995967,   492.26940018,
       23524.82629571,   630.47838048,   402.0719688 ,  -673.29640289,
        -359.25394639])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание
lr.predict(X_test)

array([  984.18276872,  7426.87788625, 12590.35806603, 11403.93743917,
       27360.54821795,  7966.28665547, 11769.67233102, 12858.16456901,
       17292.33109046,  5679.36164365, 34741.62799015,  5662.18054496,
       12962.80474996, 10767.38117266,  1174.05521085,  9863.09702126,
       14654.04975623,  9305.49629756,  3104.71051123, 15044.23089278,
       12477.23364154, 12435.20852225, 34509.78574965,  7083.36611672,
       10428.8591429 ,  3232.4124917 , 31978.53645353, 29437.22471423,
       12635.55380518, 36006.6404968 ,  7076.25787313,  5883.64779547,
       12867.00334533, 12335.98422858, 13842.09850002, 28268.71754384,
        8158.40915745, 37238.99401095, 13140.87864349,  6293.45694844,
        5189.24054868,  3099.2601344 ,  8952.5722942 , 11790.71491963,
       13895.91467444,  3309.297751  , 10330.23063106, 18435.15633763,
       27325.92322198, 12359.50281288,  4845.94854272,  8762.47269885,
       10515.83471985,  9812.48523806,  3017.74875565, 12504.36165876,
        9129.95873597, 22977.67570504,  3520.07504271,  3159.43836922,
       11433.55099017,  5057.86566682,  6521.27502248, 31742.85856684,
        9923.90216049, 10373.79301099,  9728.52132528, 29768.20377433,
       31946.01916525,  8622.68006715,  9684.96588604, 28833.41780027,
       13710.69959616, 28335.05426041,  8813.45537499, 16786.44556608,
        8482.79977644, 36700.98620681, 13209.8132833 , 28067.83576837,
        9764.02577774, 11838.51116445,  2984.99764771, 14942.38382686,
       15686.77628437,  8038.87209733, 33563.45862602, 14613.19437452,
       12458.2417934 ,  7466.45251616,  4663.99614729,  3879.83810209,
        7303.09280701,  8275.74673297, 11719.84100065, 12049.20807791,
        5347.95478952, 12212.35115254,  -296.2630551 , 12122.46984821,
       35357.55884117, 27150.51881507, 13090.69614708, 10204.17548653,
       10880.54515635, 38945.1396387 ,  3701.72487225,  3599.36439581,
       32925.67774681, 12727.29296318, 16048.76136941, 17490.44107507,
       14104.61969095, 26493.35691084, 35381.39107466, 11137.98878986,
        7872.23280627,  5104.56852779,  3064.88052692, 40372.29494605,
       11680.97867174,  8406.6183388 ,  7795.38468508,  5650.15788019,
       10661.28218081, 13362.02784543, 33932.87672419,  4613.92735291,
       15666.04624257, 34054.37956221, 10649.41438772, 14924.79124087,
       13571.4753542 , 13623.98829575,  4792.5364264 , 33289.57765594,
       34555.09316118, 14317.63679918, 15477.01524501,  4008.84690207,
       10157.60424775, 14927.0602006 ,  5888.48713386, 38114.2861192 ,
       33587.24931933, 15313.70016494, 37280.37916423, -1219.527489  ,
        8814.07396142, 13285.81936036,  7177.9947478 ,  8542.14758273,
       33546.08833357, 30355.54855493,  5658.71242589,  8247.81721163,
       12923.35915119, 34342.57343208,  6016.96180084, 11776.03229452,
        6056.95067767, 11714.09929688,  3195.13139948,  5980.11379542,
       38458.87546113, 11885.34476921, 18002.16036621, 14040.55093961,
       11312.22086605, 40877.45952681,  8744.548885  ,  1839.50473864,
        3076.74369504, 32240.30353361, 11908.96935078,  6813.14162061,
       39738.75387791, 36914.50196402,  6588.19473465,  7882.1585713 ,
       31119.24106095,  -414.92032886, 11311.4050453 ,  3797.98884086,
       10390.05885108, 11987.32239558,  8731.88218203, 15336.25853486,
        5476.41695952, 14638.47340727,  4634.83479674, 12864.52932792,
        2150.79187233,  7716.98646161, 12315.54116729, 11326.03554786,
       39945.54876166,  9598.3865377 , 36559.40094213,  3397.12661103,
       10528.02189662,  6754.01749652,  6539.176081  ,  7813.71971198,
       26893.00400241,  1297.1727795 , 31687.9712122 ,  5500.53892132,
        8851.56507101,  6018.92532619,  6301.03419845, 15721.66352724,
       11580.67912567,  2718.38517876, 16397.09628463, 15122.68476139,
        7875.39147012, 10904.34896259, 10706.46508128, 13907.575933  ,
       17323.21222897, 10621.50993851,  3935.015801  , 40086.64892131,
       29202.84002815, 12823.64287497, 12870.26541222, 11683.09298269,
        2141.73635767, 11973.50154152,  4133.52471067, 10996.98569672,
       29466.6637317 ,  5660.15173279, 31915.95385068, 33759.84380734,
       -1103.09317225, 12694.25553182, 29045.52322682, 33766.00388774,
       18191.50733185, 25131.16286019,  3130.91004081, 30390.043476  ,
       10664.21947816, 29049.52398914, 11233.02422984, 13092.99248711,
       14299.8103379 , 37744.80405541, 27617.96749958,  8091.23133483,
       39371.34580816, 13200.38616933, 10698.83323519, 10267.14446501,
        4070.49231825,  4756.16492086, 10830.89970527,  3738.79011633,
        6479.74722778, 15693.37006752,  3270.70041996,  5547.16305721,
       14785.72649555, 13509.16562123, 12763.23105522, 31329.60812341])

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки
mean_squared_error(y_test, lr.predict(X_test))

28916350.83093941

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

38465614.798001625

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

   age  sex  bmi  ...  region_northwest  region_southeast  region_southwest
0   20    1   30  ...                 0                 1                 0

[1 rows x 9 columns]

In [ ]:
lr.predict(df_person)

array([26594.10160969])